<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
    <title>{% block title %}Alempie{% endblock %}</title>
</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <a href="/" class="nav-logo">PyFastic</a>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/accounts">Accounts</a></li>
                <li><a href="/departments">Departments</a></li>
            </ul>
        </div>
    </nav>

    <main class="content">
        {% block content %}{% endblock %}
    </main>  
</body>
</html>