{% extends "base.html" %}

{% block title %}Alempie{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Departments</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for department in departments %}
        <tr>
            <td>{{ department.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<form action="/departments/add" method="post">
    <label for="name">Naam:</label>
    <input type="text" id="name" name="name" value="">
    <label for="description">Beschrijving:</label>
    <input type="text" id="description" name="description" value="">
     <button type="submit">Toevoegen</button>
</form>
{% endblock %}